/* screen - desktop-1 */

.desktop-1 {
  align-items: center;
  background-color: #fff4ec;
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 6608px;
  width: 1440px;
}

.desktop-1 .overlap-group9 {
  height: 1163px;
  margin-top: -76px;
  position: relative;
  width: 1440px;
}

.desktop-1 .overlap-group2 {
  height: 1163px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-1 .title {
  color: var(--red);
  font-family: var(--font-family-libre_bodoni);
  font-size: 140px;
  font-weight: 700;
  left: 101px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 265px;
  width: 718px;
}

.desktop-1 .line-1-1 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 1088px;
  width: 1440px;
}

.desktop-1 .history {
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1100px;
  width: 244px;
}

.desktop-1 .temp-image-hgglfs-1 {
  background-blend-mode: color-burn;
  height: 931px;
  left: 817px;
  mix-blend-mode: color-burn;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 623px;
}

.desktop-1 .from-origin {
  color: var(--black);
  font-family: var(--font-family-libre_bodoni);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 253px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 802px;
  white-space: nowrap;
  width: 293px;
}

.desktop-1 .rectangle-4 {
  background-color: #ff0000d1;
  height: 165px;
  left: 0;
  width: 1440px;
}

.desktop-1 .temp-imagefp-f-gt6-1 {
  height: 317px;
  left: 481px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 463px;
  width: 309px;
}

.desktop-1 .line-container {
  height: 16px;
  left: 0;
  position: absolute;
  top: 852px;
  width: 817px;
}

.desktop-1 .line-13 {
  height: 16px;
  left: 334px;
  position: absolute;
  top: 0;
  width: 412px;
}

.desktop-1 .line-14 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 817px;
}

.desktop-1 .to-manufacturing-ingredients {
  color: var(--black);
  font-family: var(--font-family-libre_bodoni);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 136px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 879px;
  width: 448px;
}

.desktop-1 .overlap-group {
  height: 1116px;
  margin-top: 13px;
  position: relative;
  width: 1440px;
}

.desktop-1 .line-3 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 1100px;
  width: 1440px;
}

.desktop-1 .line {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1439px;
}

.desktop-1 .lipstick-used-by-cle {
  left: 790px;
  letter-spacing: -0.72px;
  line-height: 35px;
  position: absolute;
  top: 96px;
}

.desktop-1 .span {
  letter-spacing: -0.17px;
}

.desktop-1 .span-1 {
  letter-spacing: -0.07px;
}

.desktop-1 .renaissance-and-baro {
  left: 790px;
  letter-spacing: -0.72px;
  line-height: 24px;
  position: absolute;
  top: 272px;
}

.desktop-1 .span-2 {
  letter-spacing: -0.17px;
  line-height: 35px;
}

.desktop-1 .span2-1 {
  letter-spacing: -0.07px;
  line-height: 28px;
}

.desktop-1 .world-war-ii-red-lip {
  left: 790px;
  letter-spacing: -0.72px;
  line-height: 35px;
  position: absolute;
  top: 543px;
}

.desktop-1 .medieval-europe-tin {
  left: 276px;
  letter-spacing: -0.72px;
  line-height: 35px;
  position: absolute;
  text-align: right;
  top: 196px;
}

.desktop-1 .early-20th-century1 {
  left: 164px;
  letter-spacing: -0.72px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 387px;
}

.desktop-1 .span2-2 {
  letter-spacing: -0.07px;
  line-height: 25px;
}

.desktop-1 .x21st-century-clean-b {
  left: 348px;
  letter-spacing: -0.72px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 669px;
}

.desktop-1 .span1-1 {
  letter-spacing: -0.07px;
  line-height: 35px;
}

.desktop-1 .span2-3 {
  letter-spacing: -0.07px;
  line-height: 20px;
}

.desktop-1 .temp-imagen-n6-p-ye-1 {
  background-blend-mode: multiply;
  height: 1098px;
  left: 382px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 8px;
  width: 815px;
}

.desktop-1 .text-1 {
  left: 745px;
  top: 54px;
}

.desktop-1 .text-2 {
  left: 655px;
  top: 145px;
}

.desktop-1 .text-3 {
  left: 745px;
  top: 224px;
}

.desktop-1 .text-4 {
  left: 662px;
  top: 326px;
}

.desktop-1 .text-5 {
  left: 758px;
  top: 506px;
}

.desktop-1 .text-6 {
  left: 654px;
  top: 617px;
}

.desktop-1 .color-symbolism {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 101px;
  margin-top: 4px;
  min-height: 63px;
  text-align: right;
  width: 593px;
}

.desktop-1 .line-1 {
  height: 16px;
  margin-right: 1.0px;
  margin-top: 5px;
  width: 1439px;
}

.desktop-1 .overlap-group4 {
  height: 1304px;
  margin-top: 41px;
  position: relative;
  width: 1440px;
}

.desktop-1 .line-9 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 1288px;
  width: 1440px;
}

.desktop-1 .red-ancient-egypt-s {
  left: 869px;
  letter-spacing: -1.20px;
  line-height: 40px;
  position: absolute;
  top: 214px;
}

.desktop-1 .span0 {
  letter-spacing: -0.48px;
  line-height: 35px;
}

.desktop-1 .span-3 {
  letter-spacing: -0.25px;
  line-height: 35px;
}

.desktop-1 .span4 {
  letter-spacing: -0.17px;
  line-height: 9px;
}

.desktop-1 .blacka-symbol-of-20 {
  left: 1057px;
  letter-spacing: -1.20px;
  line-height: 35px;
  position: absolute;
  top: 597px;
}

.desktop-1 .span0-1 {
  letter-spacing: -0.48px;
}

.desktop-1 .span-4 {
  letter-spacing: -0.25px;
}

.desktop-1 .pinka-symbol-of-fem {
  left: 70px;
  letter-spacing: -1.20px;
  line-height: 35px;
  position: absolute;
  text-align: right;
  top: 958px;
}

.desktop-1 .natural-color-nude {
  left: 330px;
  letter-spacing: -1.20px;
  line-height: 35px;
  position: absolute;
  top: 74px;
}

.desktop-1 .temp-imagec-kz-cd4-1 {
  background-blend-mode: multiply;
  height: 1160px;
  left: 199px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 129px;
  width: 1005px;
}

.desktop-1 .line-5 {
  height: 250px;
  left: 318px;
  object-fit: cover;
  position: absolute;
  top: 166px;
  width: 1px;
}

.desktop-1 .ellipse-1 {
  left: 311px;
  top: 151px;
}

.desktop-1 .line-8 {
  height: 250px;
  left: 430px;
  object-fit: cover;
  position: absolute;
  top: 716px;
  width: 1px;
}

.desktop-1 .ellipse-4 {
  left: 423px;
  top: 966px;
}

.desktop-1 .line-7 {
  height: 250px;
  left: 1033px;
  object-fit: cover;
  position: absolute;
  top: 643px;
  width: 1px;
}

.desktop-1 .ellipse-3 {
  left: 1026px;
  top: 628px;
}

.desktop-1 .line-6 {
  height: 250px;
  left: 837px;
  object-fit: cover;
  position: absolute;
  top: 261px;
  width: 1px;
}

.desktop-1 .ellipse-2 {
  left: 830px;
  top: 246px;
}

.desktop-1 .temp-image-jmpc-h0-1 {
  height: 246px;
  left: 1159px;
  mix-blend-mode: darken;
  object-fit: cover;
  position: absolute;
  top: 467px;
  width: 248px;
}

.desktop-1 .temp-image-aoki9-r-1 {
  height: 254px;
  left: 111px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 243px;
}

.desktop-1 .temp-image-zuj-n9b-1 {
  height: 177px;
  left: 146px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 855px;
  width: 175px;
}

.desktop-1 .temp-imagee-lzh2a-1 {
  height: 206px;
  left: 996px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 200px;
}

.desktop-1 .lipstick-and-social-change {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 55px;
  margin-top: 6px;
  min-height: 61px;
  width: 775px;
}

.desktop-1 .overlap-group3 {
  height: 834px;
  margin-right: 5.0px;
  margin-top: 44px;
  position: relative;
  width: 1435px;
}

.desktop-1 .x1920s-in-the-1920s {
  left: 83px;
  letter-spacing: -1.20px;
  line-height: 40px;
  position: absolute;
  text-align: right;
  top: 655px;
  width: 515px;
}

.desktop-1 .span2 {
  letter-spacing: -0.11px;
  line-height: 28px;
}

.desktop-1 .x1940s-in-the-1940s {
  left: 242px;
  letter-spacing: -1.20px;
  line-height: 40px;
  position: absolute;
  text-align: right;
  top: 12px;
  width: 515px;
}

.desktop-1 .x1960-1970s-lipstick {
  left: 694px;
  letter-spacing: -1.20px;
  line-height: 40px;
  position: absolute;
  text-align: right;
  top: 655px;
  width: 515px;
}

.desktop-1 .temp-imagep-j2dx-m-1 {
  background-blend-mode: multiply;
  height: 607px;
  left: 0;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 161px;
  width: 1435px;
}

.desktop-1 .temp-imagebb-jhbw-1 {
  height: 265px;
  left: 904px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 392px;
}

.desktop-1 .line-11 {
  height: 16px;
  margin-top: 96px;
  width: 1440px;
}

.desktop-1 .overlap-group1 {
  height: 854px;
  margin-top: 72px;
  position: relative;
  width: 1440px;
}

.desktop-1 .line-15 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 838px;
  width: 1440px;
}

.desktop-1 .temp-image-z-upk3p-1 {
  height: 838px;
  left: 0;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 1440px;
}

.desktop-1 .add-oil-and-moisturizing-ingredients {
  left: 974px;
  letter-spacing: -0.73px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 530px;
  width: 304px;
}

.desktop-1 .after-molding-cooli {
  left: 568px;
  letter-spacing: -0.73px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 590px;
  width: 304px;
}

.desktop-1 .color-development-is {
  left: 158px;
  letter-spacing: -0.73px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 530px;
  width: 304px;
}

.desktop-1 .temp-image8902-fv-1 {
  height: 393px;
  left: 113px;
  object-fit: cover;
  position: absolute;
  top: 105px;
  width: 393px;
}

.desktop-1 .temp-image-td-qfek-1 {
  height: 393px;
  left: 518px;
  object-fit: cover;
  position: absolute;
  top: 190px;
  width: 393px;
}

.desktop-1 .temp-imaged229l8-1 {
  height: 393px;
  left: 929px;
  object-fit: cover;
  position: absolute;
  top: 105px;
  width: 393px;
}

.desktop-1 .line-16 {
  height: 16px;
  margin-right: 1.0px;
  margin-top: 72px;
  width: 1439px;
}

.desktop-1 .tempimage-container {
  align-items: flex-start;
  display: flex;
  margin-left: 14.0px;
  margin-top: 125px;
  min-width: 1236px;
}

.desktop-1 .temp-imagerr-gs-to-1 {
  align-self: center;
  height: 403px;
  margin-bottom: 16.0px;
  mix-blend-mode: multiply;
  object-fit: cover;
  width: 402px;
}

.desktop-1 .temp-imagez-a8i-oq-1 {
  height: 437px;
  margin-left: 75px;
  mix-blend-mode: darken;
  object-fit: cover;
  width: 304px;
}

.desktop-1 .temp-image-bvdy-rm-1 {
  height: 411px;
  margin-left: 58px;
  margin-top: 1px;
  mix-blend-mode: darken;
  object-fit: cover;
  width: 397px;
}

.desktop-1 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 29.0px;
  margin-top: 17px;
  min-width: 1309px;
}

.desktop-1 .overlap-group6 {
  height: 98px;
  position: relative;
  width: 431px;
}

.desktop-1 .rectangle-6 {
  border: 3px solid;
  border-color: var(--red);
  border-radius: 25px;
  height: 98px;
  left: 47px;
  width: 338px;
}

.desktop-1 .lip-gloss-a-slightly {
  left: 0;
  letter-spacing: 0.75px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: 431px;
}

.desktop-1 .span0-2 {
  letter-spacing: 0.19px;
}

.desktop-1 .span1 {
  letter-spacing: 0.12px;
}

.desktop-1 .overlap-group7 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--red);
  border-radius: 25px;
  display: flex;
  height: 98px;
  margin-left: 40px;
  min-width: 338px;
  padding: 12px 0;
}

.desktop-1 .lipstick-a-matte-formulation {
  letter-spacing: 0.75px;
  line-height: 30px;
  margin-left: -1px;
  min-height: 34px;
  text-align: center;
  white-space: nowrap;
  width: 336px;
}

.desktop-1 .overlap-group8 {
  height: 98px;
  margin-left: 57px;
  position: relative;
  width: 443px;
}

.desktop-1 .rectangle-8 {
  border: 3px solid;
  border-color: var(--red);
  border-radius: 25px;
  height: 98px;
  left: 42px;
  width: 357px;
}

.desktop-1 .lip-tint-a-lightweig {
  left: 0;
  letter-spacing: 0.75px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: 443px;
}

.desktop-1 .ellipse {
  background-color: var(--black-2);
  border-radius: 7.5px;
  height: 15px;
  position: absolute;
  width: 15px;
}

.desktop-1 .rectangle {
  position: absolute;
  top: 0;
}

.desktop-1 .text {
  letter-spacing: -0.96px;
  line-height: 35px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
}
